<div class="col-md-12">
  <h3>Hello {{ loginDetails.firstname == '' ? loginDetails.username : loginDetails.firstname }},</h3>
  <br>
  <div class="list row">
    <div class="col-md-6"><u><h5>Total Earning Today</h5></u></div>
    <div class="col-md-6"><u><h5>Total Earning</h5></u></div>
  </div>
  <div class="list row">
    <div class="col-md-6 float-right"><h5>{{totalEarnToday}} Rupee</h5></div>
    <div class="col-md-6 float-right"><h5>{{totalEarnAll}} Rupee</h5></div>
  </div>
  <br>
  <div class="list row">
    <div class="col-md-6"><u><h5>Total Commissions Today</h5></u></div>
    <div class="col-md-6"><u><h5>Total Commissions </h5></u></div>
  </div>
  <div class="list row">
    <div class="col-md-6 float-right"><h5>{{totalCommissionsToday}} Rupee(15%)</h5></div>
    <div class="col-md-6 float-right"><h5>{{totalCommissionsAll}} Rupee(15%)</h5></div>
  </div>
  <br>
  <div class="list row">
    <div class="col-md-6"><u><h5>Total Rides Today</h5></u></div>
    <div class="col-md-6"><u><h5>Total Rides </h5></u></div>
  </div>
  <div class="list row">
    <div class="col-md-6 float-right"><h5>{{totalRideToday}}</h5></div>
    <div class="col-md-6 float-right"><h5>{{totalRideAll}}</h5></div>
  </div>
  <br>
  <div class="list row">
    <div class="col-md-6"><u><h5>Total Travel Today</h5></u></div>
    <div class="col-md-6"><u><h5>Total Travel</h5></u></div>
  </div>
  <div class="list row">
    <div class="col-md-6 float-right"><h5>{{totalTravelToday}} Kilometer</h5></div>
    <div class="col-md-6 float-right"><h5>{{totalTravelAll}} Kilometer</h5></div>
  </div>
</div>
<br>
<br>
<div class="list row">
  <div class="col-md-7">
    @if (tutorials?.length > 0) {
    <h5>My Rides</h5>
    }
    <ul class="list-group">
      @for (tutorial of tutorials; track tutorial.id; let i = $index) {
      <li
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveRide(tutorial, i)"
      >
      {{ tutorial.to }} to {{ tutorial.from }} | Fare {{ tutorial.fare }}
      @if (tutorial.taken == true && tutorial.complete == false ){
      <b>Active Ride</b> }
      @if (tutorial.taken == true && tutorial.complete == true ){
      -- Completed Ride }
      </li>
      }
    </ul>
  </div>
  <div class="col-md-5">
    <app-tutorial-details
      [viewMode]="true"
      [completeRide]="true"
      [currentTutorial]="currentTutorial"
    ></app-tutorial-details>
  </div>
</div>
<div>
  <button (click)="doLogOut()" class="btn btn-danger">Logout</button>
</div>
